.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  display: none;
}

.modal.is-open {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  overflow-y: auto;
  box-sizing: border-box;
  width: 60%;
  height: 50%;
}

.modal__title {
  font-size: 1.25rem;
  color: #00917C;

}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  overflow: visible;
}

.modal__btn:disabled {
  background-color: gray;
}

.modal__btn:focus, .modal__btn:hover {
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00917C;
  color: #fff;
}

.cost-estimate__btn {
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  border: 0px;
}

.cost-estimate__btn:hover {
  cursor: pointer;
  color: #ec8442;
  text-decoration: underline;     
  text-decoration-color: #ec8442;  
}