html {
  font-family: 'Alegreya';
  font-size: 1rem;
  min-height: 100vh;
}

body {
  display: flex;
  margin: 0px;
  min-height: 100vh;
}

p {
  margin: 0px;
}

button {
  font-family: 'Alegreya';
}

.sidebar {
  align-items: center;
  background-color: white;
  display: flex;
  flex: 0 1 200px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px;
}

.travel-tracker-logo {
  height: 108px;
  padding-bottom: 100px;
  padding-top: 40px;
  width: 200px;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__btn {
  background-color: #ECB390;
  border: 1px solid gainsboro;
  border-radius: 12px;
  box-shadow: 1px 1px 0.5px grey;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px;
  width: 100%;
}

.sidebar__btn:hover {
  background-color: #00917C;
  box-shadow: 1px 1px 0.5px gray;
  border-left: 0px;
  border-top: 0px;
  color: white;
  cursor: pointer;
}

.user-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.user-spending {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  padding-left: 18px;
  text-align: center;
}

.username {
  font-size: 1rem;
}

.profile {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: bolder;
  gap: 12px;
}

.profile-image {
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
}

.content {
  background-color: #ECB390;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  padding: 30px 20px;
}

.nav {
  align-items: center;
  display:flex;
  justify-content:space-between;
}

.nav-title {
  font-size: 2rem;
  flex: 1 1 0px;
  padding-left: 20px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav__btn {
  border-radius: 50%;
  padding: 10px;
}

.end {
  display:flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 10px;
}

.home {
  background-color: #FCF8E8;
  border-top: none;
  border-radius: 10px;
  box-shadow: 3px 3px 2px gainsboro;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  padding: 20px;
}

.trip {
  display: flex;
  flex: 0 1 0px;
}

.image-container {
  flex: 1 1 0px;
  padding-left: 10px;
}

.trip-title {
  display: flex;
  justify-content: center;
}

.trip-image {
  border-radius: 16px;
  width: 100%;
}

.trip-details {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  font-size: 1.2rem;
  gap: 10px;
  padding-left: 30px;
}

.form-title {
  font-size: 1.8rem;
  padding-left: 20px;
}

.request-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  font-size: 1.2rem;
  gap: 14px;
}

.form-buttons {
  gap: 20px;
}

.trip-categories {
  display: flex;
  flex: 1 1 0px;
  gap: 20px;
  justify-content: space-between;
  padding-top: 20px;
}

.trip-column {
  background-color: #00917C;
  border-radius: 14px;
  box-shadow: 3px 3px 2px #94B49F;
  color: #FCF8E8;
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  font-size: 1.25rem;
  gap: 2px;
  padding: 10px;
}

.trip__btn {
  background-color: #FCF8E8;
  border: 1px solid gainsboro;
  border-radius: 4px;
  box-shadow: 1px 1px 0.5px #94B49F;
  font-size: 1rem;
  padding: 2px;
}

.trip__btn:hover {
  background-color: white;
  box-shadow: 1px 1px 0.5px gray;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.hidden {
  display: none
}

/* Add breakpoints so when the screen is less than 550px in width, everything goes into a column*/
@media screen and (max-width: 760px) {
  body {
    flex-direction: column;
    font-size: 1.2rem;
  }
  .sidebar {
    padding-bottom: 0px;
  }
  .travel-tracker-logo {
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .trip {
    flex-direction: column;
  }
  .trip-details {
    padding: 10px 20px;
  }
  .trip-categories {
    flex-direction: column;
    gap: 20px;
  }
  .user-info {
    flex-direction: column;
    gap: 10px;
  }
  .image-container {
    align-items: center;
    display: flex;
    flex: 1 1 300px;
    justify-content: center;
    overflow: hidden;
  }
  .trip-image {
    border-radius: 20px;
    padding: 20px;
  }
}